{{ define "main" }}
  <h1>Projects</h1>
  <div>
    {{ range .Site.Params.projects }}
      <div style="margin-bottom: 20px; font-size: 1em;">
        <!-- Title with slightly larger font size -->
        <h2 style="font-size: 1.2em; margin: 0;">
          <a href="{{ .url }}" target="_blank" style="text-decoration: underline; color: inherit;">
            {{ .title }}
          </a>
        </h2>
        <p style="font-size: 1em; color: #666;">{{ .description }}</p>
      </div>
    {{ end }}
  </div>
{{ end }}
